{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "prettier.requireConfig": true,
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
